
@import './mixins.less';

//常规样式
.forWH(w, 450);
.forWH(h, 50);

.ma{
    margin: 0 auto;
}
//布局样式
.df{
    display: flex;
}
.s-jcc{
    justify-content: center;
}

//小样式
.tc{
    text-align: center;
}

//颜色
.cl-w{
    color: #fff;
}